fastapi                                    
uvicorn[standard]                          
python-multipart                           
PyPDF2                                     
python-jose[cryptography]                  
python-dotenv                              
openai                                     
chromadb
langdetect
googletrans==4.0.0rc1